* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 812px){
  .container {
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-top: 5%;
  }
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number], select, input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus  {
  background-color: #ddd;
  outline: none;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtnm {
  background-color: #575757;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


#pswd_info h4 {
  margin:0 0 10px 0;
  padding:0;
  font-weight:normal;
}

.invalid {
  background:url(../img/error.png) no-repeat 0 50%;
  background-size:20px;
  padding-left:35px;
  padding-right: 20px;
  line-height:24px;
  color:#ec3f41;
}
.valid {
  background:url(../img/check.png) no-repeat 0 50%;
  background-size:20px;
  padding-left:35px;
  padding-right: 20px;
  line-height:24px;
  color:#3a7d34;
}
